@model CustomViewModel

@{
    ViewData["Title"] = "Create2";
}

<h1>Create</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Character.Name" class="control-label"></label>
                <input asp-for="Character.Name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Character.Race" class="control-label"></label>
                <input asp-for="Character.Race" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Character.Classes" class="control-label"></label>

                @foreach (var item in Model.Classes)
                {
                    <label><input asp-for="Character.Classes" value="item.Name" type="radio" />item.Name</label>
                }
                
                <input asp-for="Character.Classes" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Character.Level" class="control-label"></label>
                <input asp-for="Character.Level" class="form-control" />
                <span asp-validation-for="Character.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Image" class="control-label"></label>
                <h10>(Optional)</h10>
                <input asp-for="Character.Image" class="form-control" />
                <span asp-validation-for="Character.Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
